body {
    background: url(images/100gf.png);
    backdrop-filter: grayscale(1) blur(12px);
    font-family: Poppins;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stack-area {
    width: 100%;
    height: 300vh;
    position: relative;
    display: flex;
    justify-content: center;
}
.right, .left {
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    flex-basis: 50%;
}

.cards {
    width: 100%;
    height: 100%;
    position: relative;
}
.card {
    overflow: hidden;
    width: 350px;
    height: 350px;
    padding: 35px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: .5s ease-in-out;

    &:nth-child(1) {
        z-index: 4;
        background: #bcc67d;  
    }
    &:nth-child(2) {
        z-index: 3;
        background: #be5256;
    }
    &:nth-child(3) {
        z-index: 2;
        background: #417b8d;
    }
    &:nth-child(4) {
        z-index: 1;
        background: #99718e;
    }
    img {
        position: absolute;
        z-index: -1;
        top: -50%;
        left: -15%;
    }
}
.card.active {
    transform-origin: bottom left;
}
.sub {
    width: fit-content;
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 2px solid;
}
.content {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 34px;
    background: #eee5;
    padding: 1rem;
    border-radius: 1rem;
}
.right {
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 5.25rem;
    font-weight: 700;
    line-height: 98px;
    color: #ec4478;
}
.sub-title button {
    font-size: 1rem;
    padding: 15px 30px;
    background: #f16a8b;
    color: #242424;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;

    &:hover {
        color: #f16a8b;
        background: #242424;
    }
    a:visited {
        color: #eee;
    }
    &:has(a:active) {
        scale: .8;
    }
}
.top {
    position: absolute;
    top: 0;
}
.top, .bottom {
    color: #24242455;
    text-transform: uppercase;
    width: 100%;
    font-size: 1.375rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom {
    display: none;
}

@media screen and (max-width: 800px) {
    .stack-area {
        flex-wrap: wrap;
    }
    .right {
        translate: 0 7rem;
        justify-content: end;
        
        .title, .sub-title {
            width: 100%;
            translate: 0 30px;
            padding: 0 2rem;
            background: #eee5;
            backdrop-filter: blur(5px);
            border-radius: 1rem;
            text-align: center;
        }
        .title {
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 50px;
        }
        .sub-title {
            margin-bottom: 2rem;
        }
    }
    .bottom {
        margin-bottom: 5rem;
        display: block;
        visibility: hidden;
    }
}